<!DOCTYPE html>
<!--
  S.T.A.R.D.R.O.P // Stardrop
  Roster: Alvin Sze, Kiran Soemardjo, James Sun, Jalen Chen
  SoftDev
 -->
<html>

  <head>
    <title>Stardrop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/app.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">

    <style>
      @keyframes wahookazooie {
        0% {filter: hue-rotate(0deg);}
        100% {filter: hue-rotate(360deg);}
      }
    </style>

  </head>
  <body style = "background-color: black; height: 100%; text-align: center;">
    <nav class="top-bar topbar-responsive">
      <div class="top-bar-title">
        <a class="topbar-responsive-logo megrim-regular" href="{{url_for('index_get')}}"><strong>S.T.A.R.D.R.O.P</strong></a>
      </div>
      <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
          <ul class="menu simple vertical medium-horizontal">
            <li>
                <a href="{{url_for('settings_get')}}"><button type="button" class="button hollow topbar-responsive-button">Settings</button></a>
            </li>
            <li>
                <a href="{{url_for('logout_get')}}"><button type="button" class="button hollow topbar-responsive-button">Log Out</button></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="content" style = "display:flex; text-align: left;">
      <div style="flex: 80%; image-rendering: pixelated; position: relative">
        <div style="position:relative; width: 100%; padding-bottom: 56.25%">
        <img src="../static/art/wall.png" style="background-image: url(../static/art/background.gif); animation: wahookazooie 3s infinite; position: absolute; z-index: 1; width: 100%;">
        <img src="../static/art/bartender.png" style="position: absolute; z-index: 2; width: 100%">
        <img src="../static/art/bar.png" style="animation: wahookazooie 3s infinite; position: absolute; z-index: 3; width: 100%;">
        <img src="../static/art/santa.png" style="position: absolute; z-index: 4; width: 100%">
        <img src="../static/art/barstools.png" style="position: absolute; z-index: 5; width: 100%;">
        <form action="/order" method="POST">
          <input type="hidden" name="seat_number" value="1">
          <p><button class="order-button" type="submit" style="left: 55%; top: 80%;">!</button></p>
        </form>
        </div>
      </div>
      <div style="flex: 20%; color: white; height: 85vh; overflow: auto">
        <h3>Supplies</h3>
        <form action="/make_drink" method="POST" id="make_drink">
        <div style="display: grid; grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr; width: 100%;">
          <div>Ingredient</div>
          <div>Qty</div>
          <div>None</div>
          <div>M</div>
          <div>L</div>
          {% for i in range(supplies | length) %}
              <div>{{ supplies[i] }}</div> 
              <div>{{ quantities[i] }}</div>
              <div><input value="none" type="radio" name="{{ i }}" checked></input></div>
              <div><input value="normal" type="radio" name="{{ i }}"></input></div>
              <div><input value="extra" type="radio" name="{{ i }}"></input></div>
          {% endfor %}
        </div>
        </form>
      </div>
    </div>

    <div class="reveal" id="order" data-reveal data-close-on-click="false" data-close-on-esc="false" data-reveal-open="true" data-overlay="false">
      <div style = "text-align: left; display: flex">
        <div style = "flex: 30%">
          <h1 style = "margin-bottom: 0;">Order</h1>
          <div>
            <strong> {{ drink_name }} : </strong>
            <br>
            {% for item in ingredients%}
              {{ item }}
              <br>
            {% endfor %}
          </div>
          <br>
          <button class="button" type="submit" form="make_drink">Make Drink</button>
        </div>
        <img src="../static/art/placeholder.gif" style="flex:33%; overflow: hidden; object-fit: contain;">
        <div style = "flex: 35%; text-align: center;">
          <h1 style = "margin-bottom: 0">{{ npc }}</h1>
          <br>
          {% for item in npc_data.keys()%}
            {% if item != "alcohol" and item != "no_alcohol" and item != "heavy_drinker" %}
              {{ item }} : {{ npc_data[item] }}
              <br>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/js/foundation.min.js" crossorigin="anonymous"></script>
    <script>
      $(document).foundation();
      {% if order %}
        $('#order').foundation('open');
      {% endif %}
    </script>
  </body>
</html>