<!DOCTYPE html>
<!--
  S.T.A.R.D.R.O.P // Stardrop
  Roster: Alvin Sze, Kiran Soemardjo, James Sun, Jalen Chen
  SoftDev
 -->
<html>

  <head>
    <title>Stardrop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/js/foundation.min.js" crossorigin="anonymous"></script>
    <script>
      $(document).foundation();
    </script>
    <link rel="stylesheet" type="text/css" href="../static/app.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">

    <style>
      @keyframes wahookazooie {
        0% {filter: hue-rotate(0deg);}
        100% {filter: hue-rotate(360deg);}
      }
    </style>

  </head>
  <body style = "background-color: black; height: 100%; text-align: center;">
    <nav class="top-bar topbar-responsive">
      <div class="top-bar-title">
        <a class="topbar-responsive-logo megrim-regular" href="{{url_for('index_get')}}"><strong>S.T.A.R.D.R.O.P</strong></a>
      </div>
      <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
          <ul class="menu simple vertical medium-horizontal">
            <li>
                <a href="{{url_for('settings_get')}}"><button type="button" class="button hollow topbar-responsive-button">Settings</button></a>
            </li>
            <li>
                <a href="{{url_for('logout_get')}}"><button type="button" class="button hollow topbar-responsive-button">Log Out</button></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="content" style = "display:flex; text-align: left;">
      <div style="flex: 80%; image-rendering: pixelated;">
        <img src="../static/art/wall.png" style="background-image: url(../static/art/background.gif); animation: wahookazooie 3s infinite; position: absolute; z-index: 1; width: 80%;">
        <img src="../static/art/bartender.png" style="position: absolute; z-index: 2; width: 80%">
        <img src="../static/art/bar.png" style="animation: wahookazooie 3s infinite; position: absolute; z-index: 3; width: 80%;">
        <img src="../static/art/barstools.png" style="position: absolute; z-index: 4; width: 80%;">
      </div>
      <div style="flex: 20%; color: white; height: 85vh; overflow: auto">
        <h3>SKILLS</h3>
        <ul class="portfolio-resume-side-list">
          <li>Foundation</li>
          <li>Moar Foundation</li>columns small-12 medium-7 portfolio-resume-scrolling
          <li>SCSS</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>HTML</li>
        </ul>
        <h3>EXPERIENCE</h3>
        <p>Look at all this amazing stuff that I've done!</p>
        <ul>
          <li>Just one damned thing</li>
          <li>After another</li>
          <li>Like history</li>
          <li>One thing</li>
          <li>After another</li>
        </ul>
        <h3>WORK</h3>
        <p>I've done work too</p>
        <ul>
          <li>A Site</li>
          <li>Another Site</li>
        </ul>
      </div>
    </div>
  </body>
</html>
