<!DOCTYPE html>
<!--
  S.T.A.R.D.R.O.P // Stardrop
  Roster: Alvin Sze, Kiran Soemardjo, James Sun, Jalen Chen
  SoftDev
 -->

{% extends "template.html" %}

{% block style %}
@keyframes wahookazooie {
    0% {filter: hue-rotate(0deg);}
    100% {filter: hue-rotate(360deg);}
}
{% endblock %}

{% block content %}
<div style="display: inline-block; height: 100%; background-image: url(../static/art/background.gif); image-rendering: pixelated;">
    <img src="../static/art/wall.png" style="animation: wahookazooie 3s infinite; position: absolute; z-index: 1; image-rendering:pixelated; width: 90vw; height: auto">
    <img src="../static/art/bartender.png" style="position: absolute; z-index: 2; image-rendering:pixelated; width: 90vw; height: auto">
    <img src="../static/art/bar.png" style="animation: wahookazooie 3s infinite; position: absolute; z-index: 3; image-rendering:pixelated; width: 90vw; height:auto;">
    <img src="../static/art/barstools.png" style="position: relative; z-index: 4; image-rendering:pixelated; width: 90vw; height:auto;">
</div>
{% endblock %}
