<!DOCTYPE html>
<!--
  S.T.A.R.D.R.O.P // Stardrop
  Roster: Alvin Sze, Kiran Soemardjo, James Sun, Jalen Chen
  SoftDev
 -->
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/js/foundation.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/app.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
    <div>
      <nav class="top-bar topbar-responsive">
        <div class="top-bar-title">
          <a class="topbar-responsive-logo megrim-regular" href="#"><strong>S.T.A.R.D.R.O.P</strong></a>
        </div>
        <div id="topbar-responsive" class="topbar-responsive-links">
          <div class="top-bar-right">
            <ul class="menu simple vertical medium-horizontal">
              <li>
                <a href="{{url_for('login_get')}}"><button type="button" class="button hollow topbar-responsive-button">Log In</button></a>
              </li>
              <li>
                <a href="{{url_for('register_get')}}"><button type="button" class="button hollow topbar-responsive-button">Create Account </button></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </head>

  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <html style = "background-image: url(../static/art/background.gif); image-rendering: pixelated;">
  </body>






</html>
