<!DOCTYPE html>
<!--
  S.T.A.R.D.R.O.P // Stardrop
  Roster: Alvin Sze, Kiran Soemardjo, James Sun, Jalen Chen
  SoftDev
 -->
<html style = "background-image: url(../../art/background.gif); image-rendering: pixelated;">

  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/js/foundation.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/app.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
  </head>

<!--
**Flash Block Message Pop-up
  {% block content %}
  <div class="flashmsg">
      {% for message in get_flashed_messages() %}
      {{ message }}<br>
      {% endfor %}
      {% block page_content %}{% endblock %}
  </div>
  {% endblock %}
-->

  <div>
    <nav class="top-bar topbar-responsive">
      <div class="top-bar-title">
        <a class="topbar-responsive-logo megrim-regular" href="#"><strong>S.T.A.R.D.R.O.P</strong></a>
      </div>
      <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
          <ul class="menu simple vertical medium-horizontal">
            <li>
              <button type="button" class="button hollow topbar-responsive-button">Log In</button>
            </li>
            <li>
              <button type="button" class="button hollow topbar-responsive-button">Create Account </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

<!--
**Display when logged in
    {% if logged_in %}

    <p>Hello <strong>{{ current_user }}</strong></p>

    <a href="{{ url_for('logout') }}">Logout</a>
    <p><a href="{{url_for('account_settings')}}">Account Settings</a></p>

    <a href="{{ url_for('profile', username = current_user) }}">Your Blog Page</a>
    <hr>
-->

<!--
** Display when not logged in
    {% else %}

    <p><a href="{{ url_for('login') }}">Log in / Register</a></p>
    <hr>
-->


<!--
**End display
    {% endif %}

    <div class = "search">
      <p>Search for posts containing keyword:</p>
      <form action="{{ url_for('search_results') }}" method="get">
        <input type="text" name="keyword" placeholder="Keyword">
        <p><p>
        <button type="submit" title="Search">Search</button>
      </form>
    </div>
-->


</html>
