<!DOCTYPE html>
<!--
  S.T.A.R.D.R.O.P // Stardrop
  Roster: Alvin Sze, Kiran Soemardjo, James Sun, Jalen Chen
  SoftDev
 -->


   <head>
     <html style = "background-image: url(../../art/background.gif); image-rendering: pixelated;">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/js/foundation.min.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" type="text/css" href="../static/app.css">

     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">

     <div>
       <nav class="top-bar topbar-responsive">
         <div class="top-bar-title">
           <a class="topbar-responsive-logo megrim-regular" href="#"><strong>S.T.A.R.D.R.O.P</strong></a>
         </div>
         <div id="topbar-responsive" class="topbar-responsive-links">
           <div class="top-bar-right">
             <ul class="menu simple vertical medium-horizontal">
               <li>
                 <button type="button" class="button hollow topbar-responsive-button">Home </button>
               </li>
               <li>
                 <button type="button" class="button hollow topbar-responsive-button">Register </button>
               </li>
             </ul>
           </div>
         </div>
       </nav>
     </div>
   </head>

<!--
    {% block content %}
    <div class="flashmsg">
        {% for message in get_flashed_messages() %}
        {{ message }}<br>
        {% endfor %}
        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}
  -->


  <body style="background-color: rgba(255, 255, 255, 0); color:white;">
    <div style="align:center; margin:20px; text-align:center;">
      <div class = "body">
        <h3> Welcome, User! </h3>
        <hr>

        <div class = "credentials" style="align:center; margin-left: 20%; margin-right: 20%;">
          <form action="/login", method="POST">
           <p><strong>Username<strong></p>
           <input type="text" name="username" placeholder="Username" title="CASE SENSITIVE!">
           <br>
           <p><strong>Password<strong></p>
           <input type="password" name="password" placeholder="Password" title="CASE SENSITIVE!">
           <p></p>
           <button type="submit" title="Log in?" style="color:white">Login</button>
         </form>
        </div>
      </div>

      <br>
      <hr>
        <div class = "footer">
          <p>
            <br> Need an account?<a href= "/register"> Register</a> for an new account!<br>
          </p>
        </div>
      <p>
        Return to <a href= "/"> homepage</a><br>
      </p>
      </div
  </body>

</html>
