<!--
  S.T.A.R.D.R.O.P // Stardrop
  Roster: Alvin Sze, Kiran Soemardjo, James Sun, Jalen Chen
  SoftDev
 -->

{% extends "template.html" %}

{% block content %}
<html style = "background-image: url(../static/art/background.gif); image-rendering: pixelated;">

<div>
  <div class="header">
    <h1>
      Account Settings
    </h1>
  </div>

  <div class = "credentials_username">
   <p>If you would like to change your username, please enter it below to request it. If no other user has the same username, you will be granted the new username.</p>
    <form action="{{ url_for('settings_get') }}" method="post">
     <input type="hidden" name="form_type" value="username">
      <input type="text" name="username" placeholder="New Username">
      <br>
      <button type="submit" title="Change Username">Change Username</button>

    </form>
  </div>



  <div class = "credentials_pswd">
   <p>To change your password, please enter your current password to confirm your identity. Then please enter your new secure password twice. If you do not enter the same new password twice, the password change will be rejected.</p>
    <form action="{{ url_for('settings_get') }}" method="post">
     <input type="hidden" name="form_type" value="password">
      <input type="password" name="old_password" placeholder="Old Password" title="CASE SENSITIVE!">
      <br>
      <input type="password" name="new_password" placeholder="New Password" title="CASE SENSITIVE!">
      <br>
      <input type="password" name="reconfirm_password" placeholder="Confirm Password" title="CASE SENSITIVE!">
      <br>

      <button type="submit" title="Change Password">Change Password</button>

    </form>
  </div>
    <p>
      Return to <a href= "{{ url_for('index_get') }}"> homepage</a><br>
    </p>
  </div>

{% endblock %}
